.header {
	/*background-color: #966fac;
	background-image: url("../img/hbg.jpg");
	background-repeat: no-repeat;
	background-position: right bottom;*/
	background-image: -moz-linear-gradient(left top, #0f4760, #fff8c2);
	background-image: -ms-linear-gradient(left top, #0f4760, #fff8c2);
	background-image: -o-linear-gradient(left top, #0f4760, #fff8c2);
	background-image: -webkit-gradient(linear, left top, right top, from(#0f4760),
		to(#fff8c2));
	background-image: -webkit-linear-gradient(left top, #0f4760, #fff8c2);
	background-image: linear-gradient(left top, #0f4760, #fff8c2);
	vertical-align: middle;
	min-height: 128px;
	line-height: 128px;
}

.header-title {
	color: #FFF;
	text-align: center;
	/*text-shadow: #000 3px 0 0, #000 0 3px 0, #000 -1px 0 0, #000 0 -1px 0;
	text-shadow: 2px 2px 2px #000, 2px -2px 2px #000, -2px 2px 2px #000,
		-2px -2px 2px #000;*/
		height: 100%;
		vertical-align: middle;
		padding-top: 12px;
		font-size: 70px;
}

.header-logo {
	color: #FFF;
	text-align: center;
}

.carousel-img{
	width: 100%;
	height: auto;
}

.carousel-text{
	text-shadow: 2px 2px 2px #000, 2px -2px 2px #000, -2px 2px 2px #000,
		-2px -2px 2px #000;
}

@font-face {
	font-family: 'Noto Sans';
	src: url('../fonts/NotoSansHans-Regular.otf');
	font-weight: normal;
	font-style: normal;
}

#blogBody img{
	max-width:100%;
	height:auto !important;
}
.container{

}
body {
	font-family: 'Noto Sans';
	
}
.navbar{
	background-color: #1c5863;
	}